
   <br><br><br>
   <div class="canvas-container" #canvasContainer></div>

   <div class="options">
     <h3>Texturas</h3>
     <div class="texture-type">
       <label>
         <input type="radio" name="textureType" [(ngModel)]="selectedTextureType" value="matcap" (change)="applyMatcapTexture()">
         Matcap
       </label>
       <br>
       <label>
         <input type="radio" name="textureType" [(ngModel)]="selectedTextureType" value="color" (change)="applyColorTexture()">
         Color
       </label>
     </div>
   
     <div class="texture-upload">
       <label for="textureImage">Subir imagen:</label>
       <input type="file" id="textureImage" (change)="onTextureImageChange($event)">
     </div>

     <!-- <div class="brush-options">
      <button (click)="changeBrush('pencil')">Pencil</button>
      <button (click)="changeBrush('circle')">Circle</button>
      <button (click)="changeBrush('spray')">Spray</button>
    </div>
    
    <div class="color-options">
      <input type="color" (input)="changeColor($event)">
    </div> -->
   </div>
   
   