<body>
  <header>
    <h1>Carrito de Compras</h1>
  </header>

  <main>
    <section class="cart-items">
      <h2>Artículos en el Carrito</h2>

      <div class="cart-item" *ngIf="Carrito && Carrito.length > 0; else noCarrito">
        <div class="item-details" *ngFor="let item of Carrito">
          <img [src]="item.imageUrls" [alt]="item.Nombre">
          <div class="item-info">
            <h3>{{ item.Nombre }}</h3>
            <p>Precio: {{ precio }}</p>
            <p>
              Cantidad:
              <input type="number" [(ngModel)]="item.cantidad" min="1" (ngModelChange)="actualizarCesta(item.Precio, item.id, item.color, item.talla, item.cantidad)">
              Talla: {{ item.talla }}
            </p>
            <br>
            <button class="remove-button" (click)="eliminarArticulo(item.id, item.color, item.talla, item.cantidad)">Eliminar</button>
          </div>
        </div>
      </div>
    </section>

    <section class="cart-summary">
      <h2>Resumen del Pedido</h2>

      <div class="summary-item">
        <span>Subtotal:</span>
        <span>{{ totalFinal }}</span>
      </div>
      <div class="summary-item total">
        <span>Total:</span>
        <span>{{ totalFinal }}</span>
      </div>

      <button class="checkout-button" (click)="comprar()">Proceder al Pago</button>
    </section>
  </main>
</body>


<ng-template #noCarrito>
  <p>Aún no tienes nada en la cesta <i class="fa-solid fa-basket-shopping" style="color: #555555;"></i></p>
</ng-template>