<br><br><br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <ng-container *ngIf="prendasFavoritas && prendasFavoritas.length > 0; else noFavoritos">
    <div *ngFor="let prenda of prendasFavoritas">
      <div class="card h-100">
        <div class="card-img-top position-relative">
          <img [src]="prenda.imageUrl" class="card-img-top" [alt]="prenda.Nombre">
        </div>
        <br>
        <div class="card-body">
          <h5 class="card-title">{{prenda.Nombre}}</h5>
          <p class="card-price">{{prenda.Precio}}{{'SimboloPrecio' | translate}}</p>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Comprar</button>
            <button class="btn btn-outline-secondary" type="button" (click)="BorrarColorFavorito(prenda.id, prenda.color)">
              <i class="fa fa-heart"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #noFavoritos>
  <div class="text-center">
    <p>Aún no tienes favoritos   <i class="fa-solid fa-duotone fa-heart" style="color: #555555;"></i></p>
  </div>
</ng-template>