 <div class="superNav border-bottom py-2 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
          <select  [(ngModel)]="selectedLang" (change)="translate.use(selectedLang)" class="me-3 border-0 bg-light">
            <option value="es">ES</option>
            <option value="en">EN-US</option>
          </select>
          <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"><i class="fa-solid fa-envelope"></i><strong> mlopez@educa.madrid.org</strong></span>
          <span class="me-3"><i class="fa-solid fa-phone me-1"></i> <strong>+34 780 599 554</strong></span>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
          <span class="me-3"><i class="fa-solid fa-truck text-muted me-1"></i><a class="text-muted" href="#">{{'navbar.Envios' | translate}}</a></span>
          <span class="me-3"><i class="fa-solid fa-file  text-muted me-2"></i><a class="text-muted" href="#">{{'navbar.Politicas' |translate}}</a></span>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
      <a class="navbar-brand" routerLink="home"><i class="fa-solid fa-shop me-2"></i> <strong>FASHIONSPHERE</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
        <div class="input-group">
          <span class="border-dark input-group-text bg-dark text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control border-dark" style="color:#7a7a7a">
          <button class="btn btn-dark text-white">{{'navbar.Buscar' |translate}}</button>
        </div>
      </div>
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <div class="ms-auto d-none d-lg-block">
          <div class="input-group">
            <span class="border-dark input-group-text bg-dark text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control border-dark" style="color:#7a7a7a">
            <button class="btn btn-dark text-white">{{'navbar.Buscar' |translate}}</button>
          </div>
        </div>
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase active" aria-current="page" href="#">{{'navbar.Ofertas'|translate}}</a>
          </li>
          <li class="nav-item dropdown position-static">
            <a class="nav-link dropdown-toggler text-uppercase" href="#" id="dropdown04" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              {{'navbar.Productos'|translate}}
            </a>
            <div class="dropdown-menu w-100" aria-labelledby="dropdown04">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <ul class="list-unstyled">
                      <li class="dropdown-header">{{'navbar.OpcionesCatalogo.Mujer' | translate}}</li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Ropa' | translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Calzado' | translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Bolsosyaccesorios' | translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Bellezaycuidadopersonal' | translate}}</a></li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-header">{{'navbar.OpcionesCatalogo.Hombre' | translate}}</li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Ropa' | translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Calzado' | translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Accesorios' | translate}}</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul class="list-unstyled">
                      <li class="dropdown-header">{{'navbar.OpcionesCatalogo.Niños' | translate}}</li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Niñas' | translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.NiñosChico' | translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Bebes' | translate}}</a></li>
                      <li class="dropdown-divider"></li>
                      <li class="dropdown-header">{{'navbar.OpcionesCatalogo.Hogar' | translate}}</li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Decoracion' | translate}}</a></li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Productosparamascotas' | translate}}</a></li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul class="list-unstyled">
                      <li class="dropdown-header">{{'navbar.OpcionesCatalogo.Personaliza' | translate}}</li>
                      <li><a class="dropdown-item" href="#">{{'navbar.OpcionesCatalogo.Diseñatupropiaropa' | translate}}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">{{'navbar.Personalizado' |translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">{{'navbar.Servicios' |translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="#">{{'navbar.Sobre' |translate}}</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li *ngIf="userLoggedIn" class="nav-item"  style="margin-top: 10px;">
            <a class="nav-link mx-2 text-uppercase" routerLink="favoritos">
              <i class="fa-solid fa-heart fa-xl" style="color: #c42121;"></i>
            </a>
          </li>
          <li *ngIf="userLoggedIn" class="nav-item"  style="margin-top: 10px;">
            <a class="nav-link mx-1 text-uppercase" routerLink="carrito">
              <i class="fa-solid fa-cart-shopping me-1 fa-xl"></i>
            </a>
          </li>
          <li class="nav-item dropdown" *ngIf="userLoggedIn">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <ng-container *ngIf="userPhoto;">
                <img [src]="userPhoto | defaultImage" alt="Foto de perfil" class="user-photo">
                {{ userName }}
              </ng-container>            
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="editarPerfil">{{'navbar.OpcionesCatalogo.EditarPerfil' |translate}}</a></li>
              <li class="logoutli" (click)="logout()"><a class="dropdown-item"><span class="text">{{'navbar.OpcionesCatalogo.Salir' |translate}}</span><i class="fa-solid fa-right-from-bracket logout"></i></a></li>
            </ul>
          </li>
          <li *ngIf="!userLoggedIn" class="nav-item" routerLink="inicioSesion">
            <a class="nav-link mx-1 text-uppercase">
              <i class="fa-solid fa-circle-user me-1"></i> {{ 'navbar.Cuenta' | translate }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>