.product-details {
  display: flex;
  gap: 20px;
}

.product-image img {
  max-width: 100%;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.product-price {
  font-size: 25px;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 20px;
}


.product-colors ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.product-colors li {
  display: flex;
  align-items: center;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #ccc;
  position: relative;
}

.color-circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 12px;
}

.color-circle.selected {
  border-width: 4px;
}

.color-circle.favorite i {
  display: inline-block;
}

.product-buttons {
  display: flex;
  gap: 10px;
  margin-top: 100px;
}

.addCart {
  width: 400px;
  background-color: black;
  border: 0px;
}

.addCart:hover {
  background-color: white;
  color: black;
  border: 1px black solid;
}

.addFav:hover {
  background-color: rgb(199, 46, 46);
}

.product-colors .selected .color-circle {
  border: 2px solid #000;
}

.letra {
  font-size: 10;
}

.favorite {
  color: white;
  background-color: red;
}

.product-tallas {
  margin-bottom: 20px;
}

.talla {
  display: inline-block;
  margin-right: 10px;
}

.talla input[type="radio"] {
  display: none;
}

.talla label {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.talla label:hover {
  background-color: #f5f5f5;
}

.talla input[type="radio"]:checked + label {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

.talla .unidades {
  margin-left: 5px;
  font-size: 12px;
  color: #999;
}


@media only screen and (max-width: 600px) {
  .product-details {
    flex-direction: column;
    align-items: center;
  }

  .product-info {
    margin-top: 20px;
    text-align: center;
  }

  .product-image img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .product-colors {
    text-align: center;
    margin-top: 20px;
  }

  .product-colors ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .product-colors li {
    display: flex;
    align-items: center;
  }

  .product-price {
    text-align: center;
  }

  .product-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .addCart {
    width: 100%;
  }


}
